@page
@model WebApp.Pages.Businesses.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Business</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Business.BusinessName" class="control-label"></label>
                <input asp-for="Business.BusinessName" class="form-control" />
                <span asp-validation-for="Business.BusinessName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Business.RegistryCode" class="control-label"></label>
                <input asp-for="Business.RegistryCode" class="form-control" />
                <span asp-validation-for="Business.RegistryCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Business.TotalCapital" class="control-label"></label>
                <input asp-for="Business.TotalCapital" class="form-control" />
                <span asp-validation-for="Business.TotalCapital" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Business.FoundingDate" class="control-label"></label>
                <input asp-for="Business.FoundingDate" class="form-control" />
                <span asp-validation-for="Business.FoundingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
