@page
@model WebApp.Pages.Businesses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-white m-1">
            <h1 class="mb-0">@Model.Business.BusinessName</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <dt class="col-sm-3">Registry code:</dt>
                <dd class="col-sm-9">@Model.Business.RegistryCode</dd>

                <dt class="col-sm-3">Total capital:</dt>
                <dd class="col-sm-9">@Model.Business.TotalCapital</dd>

                <dt class="col-sm-3">Founding date:</dt>
                <dd class="col-sm-9">@Model.Business.FoundingDate</dd>
                
                <dt class="col-sm-3">Shareholders:</dt>
                <dd class="col-sm-9"></dd>
            </div>
        </div>
    </div>
</div>