@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <form method="post">
        <input type="text" name="search">
        <button type="submit">SEARCH</button>
    </form>
</div>

<div>
    @foreach (var business in Model.Businesses)
    {
        <div>
            @business.BusinessName 
            (
            @string.Join(", ", business.ShareholdersInBusiness!.Select(i => i.Shareholder.ShareholdersInBusiness).ToList())
            )
        </div>
    }
</div>