@page
@model IndexModel
@{
    ViewData["Title"] = "Registry";
}

<div class="container mt-4">
    <h1 class="mb-4">Business registry</h1>
    

    <div class="search-form">
        <form method="get" class="row g-3 align-items-center">
            <div class="col-auto flex-grow-1">
                <input type="text" asp-for="Search" class="form-control" placeholder="Search..."/>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-dark">Search</button>
            </div>
        </form>
    </div>

    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="alert alert-danger" role="alert">
            @Model.Message
        </div>
    }
    
    <ul class="business-list">
        @foreach (var business in Model.Businesses)
        {
            <li class="business-item">
                <a href="/Businesses/Details/?id=@business.Id" class="business-link">
                    <strong>@business.BusinessName</strong>
                    <span class="registry-code ml-2">| Registry Code: @business.RegistryCode</span>
                </a>
            </li>
        }
    </ul>
</div>